@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');

body{
	background: linear-gradient(to right, rgb(68, 14, 89), rgb(255, 197, 171));
	color: white;
	font-family: 'Bree Serif', cursive;
}
.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height:100vh;
}
.main{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

}
h1{
	text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
	font-size: 3rem;
	padding-bottom: 0.4rem;
	border-bottom: 1px solid #C7CDD1;
	width: 550px;
}
.form-content{
	display: flex;
	justify-content: center;
}
.form-group{
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
}
.form-input{
	background: rgba(0, 0, 0, 0.4);
	border: none;
	border-radius: 10px;
	height: 3rem;
	padding-left: 3rem;
	margin-top: 1rem;
	font-size: 1.1rem;
	color:white;
	padding-left: 7px;
}
label{
	font-size: 1.3rem;
}
form{
	margin: 2.5rem;
	margin-top: 0;
	width: 550px;
}
button{
	 border: none;
	 font-family: 'Bree Serif', serif;
	 font-size: 1.3rem;
	 width: 12rem;
	 height: 3rem;
	 cursor: pointer;
	 display: inline-block;
	 font-weight: 700;
	 position: relative;
	 outline: none;
	 box-shadow: 0 6px #cecece;
	 border-radius: 5px;
	 float: right;
	 margin-right: 6px;
	 margin-top: 3rem;
}
button:hover {
	background: #fff;
    outline: none;
    box-shadow: 0 4px #cecece;
	top: 2px;
}
button:active {
	background: #fff;
    outline: none;
    box-shadow: 0 0 #cecece;
	top: 6px;
}